@font-face {
  font-family: "Nova Square";
  font-style: normal;
  font-weight: 400;
  src: local("Nova Square"), local("NovaSquare"), url("NovaSquare.ttf");
}

html {
	background: #202020;
	color: #FFFFFF;
	font-family: sans;
}

h1, h2, h3 {
	font-family: "Nova Square";
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a#indexlink {
	color: #3D4E8F;
}

.button {
	padding: 0.4em 0.6em;
	background: #3D4E8F;
	border-radius: 0.2em;
	border: solid 0.1em #566DC9;
	color: #FFFFFF;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.button:hover {
	background: #617BE3;
}

#applybtn {
	margin-top: 3em;
}

li a.button, label.button {
	display: inline-block;
}

input[type="radio"]:checked + label.button {
	background: #27315b;
}

@media only screen and (max-width: 320px) {
	.button{
		min-width: 100%;
	}
}

input[type="color"] {
	margin-left: 1em;
	padding: 0em;
}

.hidden {
	display: none;
}

noscript {
	font-size: 0.8em;
}

.nobullets {
	list-style-type: none;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
}
