<!DOCTYPE html>
<html>
	<head>
		<title>send IR commands</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<h1>Send IR commands</h1>
		{% for device,commands in devices.items() %}
			<h2>{{device}}</h2>
			<form method="POST" target="">
			{% for name,cmd in commands %}
				<!--
				<form method="post">
					<input type="hidden" name="cmd" value="{{cmd}}" />
					<input type="submit" value="{{name}}" formaction="/ir" />
				</form>
				-->
				<input type="submit" name="{{cmd}}" value="{{name}}" />
			{% endfor %}
			</form>
		{% endfor %}
	</body>
</html>
