<!DOCTYPE html>
<html>
	<head>
		<title>send IR commands</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
	<div class="main-container">
		<h1>Send IR commands</h1>
		{% for device,attributes in devices.items() %}
			<h2>{{device}}</h2>
			<form method="POST" action="/ir/{{device}}" target="_self">
			{% for cmds in attributes['commands'] %}
				{% for cmd in cmds.keys() %}
					<input class="button" type="submit" name="cmd" value="{{cmd}}" />
				{% endfor %}
				<br>
			{% endfor %}
			</form>
		{% endfor %}
		</div>
	</body>
</html>
