{% extends "base.html" %}
{% block title %} Leuchtschild {% endblock %}
{% block h1 %}Leuchtschild{% endblock %}
{% block body %}
	<h2>Select pattern or set color</h2>
	<form method="POST" action="" target="_self">
	<ul>
		{% for id, name in patterns.items() %}
		<li class="nobullets">
			<input type="radio" class="hidden" id="{{id}}" name="pattern" value="{{pattern}}" {% if id == active_pattern %}checked="true"{% endif %} />
			<label for="{{id}}" class="button">
				{{name}}
				{% if name == "custom color" %}
					<input name="color" type="color" value="{{custom_color}}"/>
				{% endif %}
			</label>
		</li>
		{% endfor %}
		<li class="nobullets">
			<input class="button" id="applybtn" type="submit" value="apply"/>
		</li>
	</ul>
	</form>
{% endblock %}
